:root {
    --primary-dark-color: #171700;
    --secondary-dark-color: #3c1c11;
    --secondary-color: #887863;
    --accent-color: #edf964;
    --light-color: #f3f3f3;
    --border-color: rgba(0, 0, 0, 0.15);
    --shadow-color: rgba(0, 0, 0, 0.55);
}
